@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #8895a8;
  font-family: 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin {
  margin-left: 56px;
}

.menu {
  background-color: #1e55a8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  width: 400px;
  padding: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_id {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 20px;
}

.menu__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar p {
  margin-left: 10px;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.menu__title {
  font-weight: bold;
  margin-top: 60px;
}

.nav__menu p {
  margin-left: 10px;
}

.main__container h1 {
  font-weight: 400;
  color: white;
  position: absolute;
  left: 492px;
  top: 76px;
  right: 850px;
  bottom: 909px;
}

.table {
  position: absolute;
  width: calc(100% - 440px);
  left: 420px;
  top: 190px;
  right: 0px;
  bottom: 779px;
  border-collapse: collapse;
}

tbody td {
  padding: 20px;

}

tbody th {
  padding: 20px;
  text-align: start;
  font-family: "Montserrat-Light";
  font-weight: lighter;
}

thead th {
  padding: 20px;
  text-align: start;
}

table thead {
  color: white;
  background-color: #1e55a8;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 23px;
}

table tbody {
  font-family: "Montserrat-Light";
  font-size: 18px;
  font-weight: lighter;
  font-style: normal;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;

}

a {
  transition: 1s; /* Время эффекта */
  text-align: center; 
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
  filter: sepia(100%) brightness(90%);
}


.table {
  position: absolute;
  width: calc(90% - 440px);
  left: 420px;
  top: 190px;
  right: 0px;
  bottom: 779px;
  border-collapse: collapse;
}

tbody td {
  padding: 20px;

}

tbody tr {
  border-bottom: 1px solid #ddd;
}

thead th {
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  text-align: start;
}

.create_button {
  font-family: "Montserrat";
  margin-left: 1536px;
  margin-top: 120px;
  background-color: #1e55a8;
  color: white;
  border: none;
  width: 172px;
  height: 44px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.create_button:hover {
  background-color: #17263d;
 }


.form-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container__content {
  display: flex;
  flex-direction: column;
  width: 569px;
  height: auto;
  max-height: 80%;
  background-color: #1e55a8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.close-button:hover {
  color: #721818;
}

form {
  display: grid;
}

form label {
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: .2rem;
  font-weight: bold;
}

form input[type="number"],
form input[type="text"],
form input[type="tel"],
form select {
  font-family: "Montserrat";
  width: calc(100% - 16px);
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f7fc;
}

.submit-button {
  font-family: "Montserrat";
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  transition: 0.5s;
}
.submit-button:hover {
  background-color: #a0a0a0;
}

.amount,
.adress,
.category,
.phone,
.name,
.man {
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin-bottom: 10px;
}

.adress input {
  margin-top: 10px;
}

@media (max-width: 1366px) {
  *{

    overflow-y: auto;
  }
  thead th {
    font-size: 16px;
  }
  tbody td{
    font-size: 16px;
  }
  .create_button {
    margin-left: 1100px;
  }
  .form-container__content{
    max-height: none;
    height: auto;
    transform: scale(0.9);
  }
}