@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #8895a8;
  font-family: 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin {
  margin-left: 56px;
}

.menu {
  background-color: #1e55a8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  width: 400px;
  padding: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_id {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 20px;
}

.menu__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar p {
  margin-left: 10px;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.menu__title {
  font-weight: bold;
  margin-top: 60px;
}

.nav__menu p {
  margin-left: 10px;
}

.table {
  position: absolute;
  width: calc(100% - 440px);
  left: 420px;
  top: 190px;
  right: 0px;
  bottom: 779px;
  border-collapse: collapse;
}

tbody td {
  padding: 20px;

}

tbody th {
  padding: 20px;
  text-align: start;
  font-family: "Montserrat-Light";
  font-weight: lighter;
}

thead th {
  padding: 20px;
  text-align: start;
}

table thead {
  border-bottom: 2px solid black;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 23px;
}

table tbody {
  font-family: "Montserrat-Light";
  font-size: 18px;
  font-weight: lighter;
  font-style: normal;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;

}

a {
  transition: 1s; /* Время эффекта */
  text-align: center; 
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
  filter: sepia(100%) brightness(90%);
}

.orders-container {
  align-items: center;
  width: 855px;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  margin-left: 482px;
  margin-top: 76px;
}

h1 {
  position: absolute;
  left: 503px;
  top: 106px;
  right: 850px;
  bottom: 909px;
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
}

.clear-button {
  font-family: "Montserrat";
  width: 146px;
  position: absolute;
  right: 424px;
  top: 138px;
  padding: 6px 12px;
  background-color: #c4c4c4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s;
}
.clear-button:hover {
  background-color: #333;
 }

.order-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-row {
  margin-top: 92px;
  width: 995px;
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 6px;
}

.order-row div {
  font-size: 14px;
  color: #333;
}

.order-row span {
  font-weight: bold;
}

@media (max-width: 1366px) {
  /* .main__container{
    margin-left: 170px;
  } */
   .order-row{
    width: 130%;
   }
  .buyer-item .item {
    font-size: 12px;
  }
  .clear-button{
    margin-left: 580px;
  }
}