@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #8895a8;
  font-family: 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin {
  margin-left: 56px;
}

.menu {
  background-color: #1e55a8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  width: 400px;
  padding: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_id {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 20px;
}

.menu__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar p {
  margin-left: 10px;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.menu__title {
  font-weight: bold;
  margin-top: 60px;
}

.nav__menu p {
  margin-left: 10px;
}

.main__container h1 {
  font-weight: 400;
  color: white;
  position: absolute;
  left: 492px;
  top: 76px;
  right: 850px;
  bottom: 909px;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;

}

a {
  transition: 1s; /* Время эффекта */
  text-align: center; 
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.2);
  filter: sepia(100%) brightness(90%);
}

.main__container h2 {
  position: absolute;
  left: 630px;
  top: 115px;
  right: 589px;
  bottom: 875px;
  font-weight: 400;
  width: 221px;
}

.table {
  background-color: white;
	position: absolute;
  width: calc(100% - 440px);
  left: 420px;
  top: 190px;
  right: 0px;
  bottom: 779px;
}
.table thead th {
  color: white;
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #1e55a8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #ffffff;
}
